{% extends "contests/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>
        <a href="{% url 'contest-detail' contest.pk %}" class="btn btn-secondary">Назад</a>
    </h2>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Изменение контеста</legend>
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>
            <br>
        </form>
    </div>
{% endblock content %}

{% block select2_js %}
    {{ form.media.js }}
{% endblock %}

{% block select2_css %}
    {{ form.media.css }}
{% endblock %}
