{% extends "base_scripts.html" %}
{% load static %}

{% block user_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'ideas/main.css' %}">
    {{ form_filter.media.css }}
{% endblock %}

{% block user_js %}
    {{ form_filter.media.js }}
{% endblock %}

{% block form_filter %}
    {% if user.is_authenticated and form_filter %}
        <script type="text/javascript">
            window.onerror = function (msg) {
                $("body").attr("JSError", msg);
            }
        </script>

        <div class="col-md-4">
            <div class="content_section">
                <h3>Фильтр</h3>
                <form>
                    {% load crispy_forms_tags %}
                    {{ form_filter|crispy }}
                    <br>
                    <input type="submit" value="Искать" class="btn btn-success">
                    <a class="btn btn-danger" href={% url 'ideas-home' %}>Сброс фильтра</a>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
