{% extends "ideas/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href={% url 'idea-create' %}>Новая идея</a>
    {% endif %}
    <br>
    {% for idea in ideas %}
        <article class="media content-section">
            {% if idea.status %}
                <small class="text-muted task-status"
                       style="background-color: {{ idea.status.color }}">Статус: {{ idea.status }}</small>
            {% else %}
                <small class="text-muted task-status">Статус:</small>
            {% endif %}
            <div class="media-body">
                <div class="idea-info-body">
                    <small class="text-muted">Последнее обновление: {{ idea.date_update|date:"M d, Y" }}</small>
                    <br>
                    <p><small class="text-muted">Дата записи: {{ idea.date_posted|date:"M d, Y" }}</small></p>
                </div>

                <h2><a class="idea-title" href="{% url 'idea-detail' idea.id %}">{{ idea.title }}</a></h2>

                <p class="idea-content">{{ idea.content }}</p>

                <hr>

                <div class="idea-info-body">
                    {% if not idea.type %}
                        <small class="text-muted">Тип: </small>
                    {% else %}
                        <small class="text-muted">Тип: {{ idea.type }}</small>
                    {% endif %}
                    <br>
                    <small class="text-muted">Теги: {{ idea.tags.all|join:", " }}</small>
                    <br>
                    <small class="text-muted">Авторы: {{ idea.authors.all|join:", " }}</small>
                    <br>
                </div>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content %}
