{% for idea in ideas %}
    <div class="media content_section">
        <small class="text-muted task_status"
               style="background-color: {{ idea.status_color }}">Статус: {{ idea.status_name }}</small>
        <div class="media-body">
            <div class="idea_info_body">
                <small class="text-muted">Последнее обновление: {{ idea.date_update|date:"M d, Y" }}</small>
                <br>
                <p><small class="text-muted">Дата записи: {{ idea.date_posted|date:"M d, Y" }}</small></p>
            </div>

            <h2><a class="idea_title" href="{% url 'idea-detail' idea.id %}">{{ idea.title }}</a></h2>

            <p class="idea_content">{{ idea.content_shorted }}</p>

            <hr>

            <div class="idea_info_body">
                {% if idea.type_name %}
                    <small class="text-muted">Тип: {{ idea.type_name }}</small>
                    <br>
                {% endif %}
                {% if idea.difficulty %}
                    <small class="text-muted">Сложность: {{ idea.difficulty }}</small>
                    <br>
                {% endif %}
                {% if idea.tags_list %}
                    <small class="text-muted">Теги: {{ idea.tags_list }}</small>
                    <br>
                {% endif %}
                {% if idea.authors_list %}
                    <small class="text-muted">Авторы: {{ idea.authors_list }}</small>
                    <br>
                {% endif %}
                {% if idea.polygon_task %}
                    <small class="text-muted">Название на полигоне: {{ idea.polygon_task }}</small>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
{% endfor %}
