{% extends "ideas/base.html" %}
{% block content %}
    <h2 class="solar-red">Вы просматриваете конкретную идею</h2>
    {% if user not in idea.users_can_view.all and user not in idea.users_can_edit.all and not user.is_staff and  idea.real_author != user %}
        <h1>У вас нет прав на просмотр этой идеи</h1>
    {% else %}
        <article class="media content-section">
            {% if idea.status %}
                <small class="text-muted task-status"
                       style="background-color: {{ idea.status.color }}">Статус: {{ idea.status }}</small>
            {% else %}
                <small class="text-muted task-status">Статус:</small>
            {% endif %}
            <div class="media-body">
                {% if user in idea.users_can_edit.all or user.is_staff or idea.real_author == user %}
                    <div class="article-metadata">
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'idea-update' idea.id %}">Редактировать</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1"
                               href="{% url 'idea-delete' idea.id %}">Удалить</a>
                        </div>
                    </div>
                {% endif %}
                <div class="idea-info-body">
                    <small class="text-muted">Последнее обновление: {{ idea.date_update|date:"M d, Y" }}</small>
                    <br>
                    <small class="text-muted">Дата записи: {{ idea.date_posted|date:"M d, Y" }}</small>
                </div>

                <h2 class="idea-title">{{ idea.title }}</h2>

                <p class="idea-content">{{ idea.content }}</p>

                <hr>

                <div class="idea-info-body">
                    {% if not idea.type %}
                        <small class="text-muted">Тип: </small>
                    {% else %}
                        <small class="text-muted">Тип: {{ idea.type }}</small>
                    {% endif %}
                    <br>
                    <small class="text-muted">Теги: {{ idea.tags.all|join:", " }}</small>
                    <br>
                    <small class="text-muted">Авторы: {{ idea.authors.all|join:", " }}</small>
                    <br>
                    <small class="text-muted">Кто видит: {{ idea.users_can_view.all|join:", " }}</small>
                    <br>
                    <small class="text-muted">Кто может менять: {{ idea.users_can_edit.all|join:", " }}</small>
                    <br>
                    <small class="text-muted">Кто предложил: {{ idea.real_author|join:", " }}</small>
                </div>
            </div>
        </article>
    {% endif %}
{% endblock content %}
