{% extends "ideas/base.html" %}
{% block content %}
    <h2 class="solar-red">Вы просматриваете конкретную идею</h2>
    <article class="media content-section">
        <div class="media-body">
            {% if user in object.users_can_edit.all or user.is_staff or object.real_author == user %}
                <div class="article-metadata">
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'idea-update' object.id %}">Редактировать</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'idea-delete' object.id %}">Удалить</a>
                    </div>
                </div>
            {% endif %}
            <h2 class="article-title">{{ object.title }}</h2>
            <small class="text-muted">Последнее обновление: {{ idea.date_update|date:"M d, Y" }}</small>
            <br>
            <small class="text-muted">Дата идеи: {{ idea.date_posted|date:"M d, Y" }}</small>
            <p class="article-content">{{ object.content }}</p>
            {% if not idea.type %}
                <small class="text-muted">Тип: </small>
            {% else %}
                <small class="text-muted">Тип: {{ idea.type }}</small>
            {% endif %}
            <br>
            <small class="text-muted">Теги: {{ idea.tags.all|join:", " }}</small>
            <br>
            <small class="text-muted">Авторы: {{ idea.authors.all|join:", " }}</small>
            <br>
            <small class="text-muted">Кто видит: {{ idea.users_can_view.all|join:", " }}</small>
            <br>
            <small class="text-muted">Кто может менять: {{ idea.users_can_edit.all|join:", " }}</small>
            <br>
            <small class="text-muted">Кто предложил: {{ idea.real_author|join:", " }}</small>
        </div>
    </article>
{% endblock content %}
