{% extends "ideas/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <h2 class="solar-red">Вы просматриваете конкретную идею</h2>
    <article class="media content-section">
        {% if idea.status %}
            <small class="text-muted task-status"
                   style="background-color: {{ idea.status.color }}">Статус: {{ idea.status }}</small>
        {% else %}
            <small class="text-muted task-status">Статус:</small>
        {% endif %}
        <div class="media-body">
            {% if user_can_edit %}
                <div class="article-metadata">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1"
                       href="{% url 'idea-update' idea.id %}">Редактировать</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1"
                       href="{% url 'idea-delete' idea.id %}">Удалить</a>
                </div>
            {% endif %}
            <div class="idea-info-body">
                <small class="text-muted">Последнее обновление: {{ idea.date_update|date:"M d, Y" }}</small>
                <br>
                <small class="text-muted">Дата записи: {{ idea.date_posted|date:"M d, Y" }}</small>
            </div>

            <h2 class="idea-title">{{ idea.title }}</h2>

            <p class="idea-content">{{ idea.content }}</p>

            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#editorial" aria-expanded="false" aria-controls="editorial">
                    Идея решения
                </button>
            </p>

            <div class="collapse" id="editorial">
                <div class="card card-body">
                    <p class="idea-editorial">{{ idea.short_editorial }}</p>
                </div>
            </div>

            <hr>

            <div class="idea-info-body">
                {% if idea.type %}
                    <small class="text-muted">Тип: {{ idea.type }}</small>
                    <br>
                {% endif %}
                {% if idea.tags.all %}
                    <small class="text-muted">Теги: {{ idea.tags.all|join:", " }}</small>
                    <br>
                {% endif %}
                {% if idea.authors.all %}
                    <small class="text-muted">Авторы: {{ idea.authors.all|join:", " }}</small>
                    <br>
                {% endif %}
                {% if idea.users_can_view.all %}
                    <small class="text-muted">Кто видит: {{ idea.users_can_view.all|join:", " }}</small>
                    <br>
                {% endif %}
                {% if idea.users_can_edit.all %}
                    <small class="text-muted">Кто может менять: {{ idea.users_can_edit.all|join:", " }}</small>
                    <br>
                {% endif %}
                {% if idea.groups_access.all %}
                    <small class="text-muted">Группы пользователей с
                        доступом: {{ idea.groups_access.all|join:", " }}</small>
                    <br>
                {% endif %}
                {% if idea.real_author.all %}
                    <small class="text-muted">Кто предложил: {{ idea.real_author|join:", " }}</small>
                {% endif %}
            </div>
        </div>
    </article>

    <div id="comments">
        <br>
        <button class="btn btn-primary" id="button-add-comment" type="button" data-bs-toggle="collapse"
                data-bs-target="#leave-comment" aria-expanded="false" aria-controls="leave-comment">
            Добавить комментарий
        </button>
        <br>
        <br>
        <div class="collapse" id="leave-comment">
            <form method="post" action="{% url 'comment-create' idea.pk %}">
                {% csrf_token %}
                {{ add_comment_form|crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="Оставить комментарий">
            </form>
            <br>
        </div>

        <div class="modal fade" id="delete-comment" tabindex="-1" aria-labelledby="delete-comment-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="delete-comment-label">Удаление комментария</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы действительно хотите удалить комментарий?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Оставить</button>
                        <a type="button" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="update-comment" tabindex="-1" aria-hidden="true"
             aria-labelledby="update-comment-label">
            <div class="modal-dialog" style="min-width: 50%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать комментарий</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="comment-updater" method="post">
                            {% csrf_token %}
                            {{ update_comment_form }}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                        </button>
                        <input type="submit" form="comment-updater" class="btn btn-success" value="Сохранить">
                    </div>
                </div>
            </div>
        </div>

        <div class="comments">
            {% for comment in comments %}
                <div class="full-comment" id="{{ comment.id }}">
                    <small><a href="{% url 'ideas-home' %}?authors={{ comment.author.pk }}">{{ comment.author }}</a>
                        at {{ comment.date_posted|date:"M d, Y" }}
                    </small>
                    <div class="card comment" style="background-color: white">
                        <div class="comment-text">{{ comment.text }}</div>
                        {% if comment.author == user %}
                            <p>
                                <a class="text-muted" data-bs-toggle="modal" href="#update-comment"
                                   data-bs-text="{{ comment.text }}" data-bs-pk="{{ comment.pk }}">Ред.</a>
                                <a class="text-muted" data-bs-toggle="modal" href="#delete-comment"
                                   data-bs-pk="{{ comment.pk }}">Удалить?</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <script>
            const commentDeleteModal = document.getElementById('delete-comment')
            commentDeleteModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                const pk = button.getAttribute('data-bs-pk')
                const submit = commentDeleteModal.querySelector('.modal-footer .btn-danger')
                submit.href = '{% url 'comment-delete' 228 %}'.replace(/228/, pk)
            })

            const commentUpdateModal = document.getElementById('update-comment')
            commentUpdateModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                const pk = button.getAttribute('data-bs-pk')
                const text = button.getAttribute('data-bs-text')
                const form = commentUpdateModal.querySelector('form')
                form.action = '{% url 'comment-update' 228 %}'.replace(/228/, pk)
                const textInput = commentUpdateModal.querySelector('.modal-body textarea')

                textInput.value = text
            })
        </script>
    </div>
{% endblock content %}
